.productContainer {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderProdImage {
    border-radius: 8px;
}

.textContainer {
    /* border: 1px solid; */

    display: flex;
    width: 70%;
    padding: 0 4px;
    font-size: 0.9rem;
    flex-direction: column;
    box-sizing: border-box;
}

.sliderProdTitle {
    font-weight: 500;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sliderProdPrice {
    display: flex;
    align-items: center;
    justify-content: center;
}